<connectionStrings>
  <clear/>
  <add name="name1" connectionString="Data Source=My1.Source;User Id=UserId1;Password=Password1;Validate Connection = true;" providerName="Oracle.DataAccess.Client"  />

  <add name="name2" connectionString="Data Source=My2.Source;User Id=UserId2;Password=Password2;Validate Connection = true;" providerName="Oracle.DataAccess.Client"  />

  <add name="name3" connectionString="Data Source=My3.Source;User Id=UserId3;Password=Password3;Validate Connection = true;" providerName="Oracle.DataAccess.Client"  />
</connectionStrings>
