<root>
	<section>
		<connectionString name="Connection1" userId="UserId1" password="Password1"></connectionString>
		<connectionString name="Connection2" userId="UserId2" password="Password2"></connectionString>
		<connectionString name="Connection3" userId="UserId3" password="Password3"></connectionString>
	</section>	
</root>